.page {
  margin:0;
  padding: 0;
}
.body{
  display: flex;
  padding: 1rem 5rem 0 5rem;
  width:100%;
}
.inputZone{
  width:18rem;
}
.dropSpace{
  width:16rem;
  height:10rem;
  border: 0.1rem dotted;
  border-radius: 10%;

  text-align: center;
}
.result{
  width: 1fr;
}
.cCode{
  width: 45rem;
  margin-left: 1rem;
  border: 0.1rem solid;
}
.cHeader{
  font-size: large;
  color: gray;
  border-bottom: 0.1rem solid black;
}
.cContent{
  height: 35rem;
  overflow: scroll;
  font-family:'Courier New', Courier, monospace;
}